<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans bg-gray-100 text-black">
    <header class="sticky top-0">
        <nav class="flex items-center justify-between flex-shrink-0 bg-green-600 p-8 text-white">
            <div class="flex">
                <a href="/dashboard" class="text-4xl font-bold mr-10 hover:text-black">
                    TrailBenilde <i class="fa-solid fa-star invisible sm:visible"></i>
                </a>
            </div>
            <div class="flex justify-evenly">
                <a href="/dashboard" class="text-lg font-bold mr-8 hover:text-black">Dashboard</a>
                <a href="/myOrg" class="text-lg font-bold mr-8 hover:text-black">My Organizations</a>
                <form action="/logout" method="post">
                    <button type="submit" class="text-lg font-bold mr-8 hover:text-black">
                        Logout
                    </button>

                </form>
                
            </div>
        </nav>
    </header>
    <main>
        <div class="flex justify-center m-4 text-4xl font-bold">
            Organization Members
        </div>
        <div class="flex justify-center">
            <table class="m-5 text-center">
                <thead class="bg-gray-300">
                    <tr class="table-auto border-solid border-2 border-black">
                        <th>id</th>
                        <th>idNumber</th>
                        <th>firstName</th>
                        <th>lastName</th>
                        <th>course</th>
                        <th>emailAddress</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <% for (let mem of accounts) { %>
                    <tr class="table-auto border-solid border-2 border-black">
                        <td class="p-3"><%= mem.id %></td>
                        <td class="p-3"><%= mem.idNumber %></td>
                        <td class="p-3"><%= mem.firstName %></td>
                        <td class="p-3"><%= mem.lastName %></td>
                        <td class="p-3"><%= mem.course %></td>
                        <td class="p-3"><%= mem.emailAddress %></td>
                    </tr>                            
                        <% } %>
                </tbody>
            </table>
            
            
        </div>
        
    </main>
    <footer>

    </footer>
    
</body>
</html>